{{- if or (not .Values.splitMode.enabled) (eq .Values.splitMode.type "management") }}
apiVersion: apps/v1
{{- if .Values.splitMode.enabled }}
kind: Deployment
{{- else }}
kind: DaemonSet
{{- end }}
metadata:
  name: {{ include "occm.name" . }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- with .Values.commonAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if .Values.splitMode.enabled }}
  replicas: {{ .Values.splitMode.replicas }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "occm.controllermanager.matchLabels" . | nindent 6 }}
  {{- if .Values.splitMode.enabled }}
  strategy:
    type: RollingUpdate
  {{- else }}
  updateStrategy:
    type: RollingUpdate
  {{- end }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include "cloudConfig" . | sha256sum }}
        {{- include "occm.controllermanager.annotations" . | nindent 8 }}
      labels:
        {{- include "occm.controllermanager.labels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.splitMode.enabled }}
      {{- with .Values.splitMode.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- else }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.hostAliases }}
      hostAliases:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.splitMode.enabled }}
      automountServiceAccountToken: false
      {{- else }}
      serviceAccountName: {{ .Values.serviceAccountName }}
      {{- end }}
      containers:
        - name: openstack-cloud-controller-manager
          image: "{{ .Values.image.repository }}:{{ default .Chart.AppVersion .Values.image.tag }}"
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          args:
            - /bin/openstack-cloud-controller-manager
            - --v={{ .Values.logVerbosityLevel }}
            - --cloud-config=$(CLOUD_CONFIG)
            - --cluster-name=$(CLUSTER_NAME)
            - --cloud-provider=openstack
            {{- if .Values.splitMode.enabled }}
            - --kubeconfig=/etc/kubernetes/kubeconfig
            - --leader-elect=true
            {{- end }}
            - --use-service-account-credentials=false
            - --controllers={{- trimAll "," (include "occm.enabledControllers" . ) -}}
            {{- if .Values.serviceMonitor.enabled }}
            - --bind-address=0.0.0.0
            {{- else }}
            - --bind-address=127.0.0.1
            {{- end }}
            {{- if .Values.controllerExtraArgs }}
            {{- with .Values.controllerExtraArgs }}
            {{- tpl . $ | trim | nindent 12 }}
            {{- end }}
            {{- end }}
          {{- if .Values.serviceMonitor.enabled }}
          ports:
          - containerPort: 10258
            {{- if not .Values.splitMode.enabled }}
            hostPort: 10258
            {{- end }}
            name: http
            protocol: TCP
          {{- end }}
          {{- if .Values.splitMode.enabled }}
          volumeMounts: {{- toYaml .Values.splitMode.extraVolumeMounts | nindent 12 }}
            - mountPath: /etc/kubernetes
              name: kubeconfig-volume
              readOnly: true
          {{- if .Values.secret.enabled }}
            - mountPath: /etc/config
              name: cloud-config-volume
              readOnly: true
          {{- end }}
          {{- else }}
          {{- if or (.Values.extraVolumeMounts) (.Values.secret.enabled) }}
          volumeMounts:
          {{- end }}
          {{- if .Values.secret.enabled }}
            - mountPath: /etc/config
              name: cloud-config-volume
              readOnly: true
          {{- end }}
          {{- if .Values.extraVolumeMounts }}
            {{- toYaml .Values.extraVolumeMounts | nindent 12 }}
          {{- end }}
          {{- end }}
          {{- if .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.resources }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
          env:
            - name: CLOUD_CONFIG
              value: /etc/config/cloud.conf
            - name: CLUSTER_NAME
              value: {{ .Values.cluster.name }}
            {{- if .Values.extraEnv }}
              {{- toYaml .Values.extraEnv | nindent 12 }}
            {{- end }}
      {{- if .Values.extraInitContainers }}
      initContainers: {{ toYaml .Values.extraInitContainers | nindent 6 }}
      {{- end }}
      dnsPolicy: {{ .Values.dnsPolicy }}
      {{- if not .Values.splitMode.enabled }}
      hostNetwork: true
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}

      {{- if .Values.splitMode.enabled }}
      volumes: {{- toYaml .Values.splitMode.extraVolumes | nindent 6 }}
      - name: kubeconfig-volume
        secret:
          secretName: {{ .Values.splitMode.kubeconfig.secretName }}
          items:
            - key: {{ .Values.splitMode.kubeconfig.secretKey }}
              path: kubeconfig
      {{- if .Values.secret.enabled }}
      - name: cloud-config-volume
        secret:
          secretName: {{ .Values.secret.name }}
      {{- end }}
      {{- else }}
      {{- if or (.Values.extraVolumes) (.Values.secret.enabled) }}
      volumes:
      {{- end }}
      {{- if .Values.secret.enabled }}
      - name: cloud-config-volume
        secret:
          secretName: {{ .Values.secret.name }}
      {{- end }}
      {{- if .Values.extraVolumes }}
        {{ toYaml .Values.extraVolumes | nindent 6 }}
      {{- end }}
      {{- end }}
{{- end }}
