{{- if .Values.secret.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secret.name | default "cloud-config" }}
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- with .Values.commonAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
data:
  {{ if .Values.cloudConfigContents -}}
  cloud.conf: |
    {{ .Values.cloudConfigContents | b64enc }}
  {{ else -}}
  cloud.conf: {{ include "cloudConfig" . | b64enc }}
  {{ end -}}
{{- end }}
