{{- if .Values.serviceMonitor.enabled }}
apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "occm.labels" . | nindent 4 }}
  name: {{ include "occm.name" . }}
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - name: http
    port: 10258
    protocol: TCP
  selector:
    {{- include "occm.controllermanager.matchLabels" . | nindent 4 }}
{{- end }}
