{{- if or (not .Values.splitMode.enabled) (eq .Values.splitMode.type "workload") }}
apiVersion: storage.k8s.io/v1
kind: CSIDriver
metadata:
  name: cinder.csi.openstack.org
spec:
  attachRequired: true
  podInfoOnMount: true
  volumeLifecycleModes:
  - Persistent
  - Ephemeral
{{- end }}
