{{- if .Values.secret.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secret.name }}
  namespace: {{ .Release.NameSpace }}
type: Opaque
stringData:
  {{ .Values.secret.data | toYaml | trimSuffix "\n" | nindent 2 }}
{{- end }}
