apiVersion: apps/v1
kind: Deployment
metadata:
  name: standalone-cinder-provisioner
spec:
  replicas: 1
  selector:
    matchLabels:
      app: standalone-cinder-provisioner
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: standalone-cinder-provisioner
    spec:
      containers:
      - name: standalone-cinder-provisioner
        image: docker.io/k8scloudprovider/cinder-provisioner:v1.16.0
        imagePullPolicy: IfNotPresent
        env:
        - name: OS_AUTH_URL
          value: http://192.168.2.16:5000/v2.0
        - name: OS_USERNAME
          value: admin
        - name: OS_PASSWORD
          value: password
        - name: OS_TENANT_ID
          value: 522e341dd2884e88a466a5c68ca54aa4
        - name: OS_REGION_NAME
          value: RegionOne
        - name: OS_DOMAIN_NAME
          value: Default
