nameOverride: ""
fullnameOverride: ""
timeout: 3m

csi:
  attacher:
    image:
      repository: k8s.gcr.io/sig-storage/csi-attacher
      tag: v2.2.1
      pullPolicy: IfNotPresent
  provisioner:
    image:
      repository: k8s.gcr.io/sig-storage/csi-provisioner
      tag: v1.6.1
      pullPolicy: IfNotPresent
  snapshotter:
    image:
      repository: k8s.gcr.io/sig-storage/csi-snapshotter
      tag: v2.1.3
      pullPolicy: IfNotPresent
  resizer:
    image:
      repository: k8s.gcr.io/sig-storage/csi-resizer
      tag: v0.5.1
      pullPolicy: IfNotPresent
  livenessprobe:
    image:
      repository: k8s.gcr.io/sig-storage/livenessprobe
      tag: v2.1.0
      pullPolicy: IfNotPresent
  nodeDriverRegistrar:
    image:
      repository: k8s.gcr.io/sig-storage/csi-node-driver-registrar
      tag: v1.3.0
      pullPolicy: IfNotPresent
  plugin:
    image:
      repository: docker.io/k8scloudprovider/cinder-csi-plugin
      pullPolicy: IfNotPresent
      tag:  # defaults to .Chart.AppVersion
    volumes:
      - name: cacert
        hostPath:
          path: /etc/cacert
      - name: cloud-config
        hostPath:
          path: /etc/kubernetes
        # secret:
        #   secretName: cinder-csi-cloud-config
    volumeMounts:
      - name: cacert
        mountPath: /etc/cacert
        readOnly: true
      - name: cloud-config
        mountPath: /etc/kubernetes
        readOnly: true

secret:
#  name: cinder-csi-cloud-config
#  data:
#    cloud-config: |-
#      [Global]
#      auth-url=http://openstack-control-plane
#      user-id=user-id
#      password=password
#      trust-id=trust-id
#      region=RegionOne
#      ca-file=/etc/cacert/ca-bundle.crt

storageClass:
  enabled: true
  delete:
    isDefault: false
    allowVolumeExpansion: true
  retain:
    isDefault: false
    allowVolumeExpansion: true
