nameOverride: ""
fullnameOverride: ""
timeout: 3m

csi:
  attacher:
    image:
      repository: k8s.gcr.io/sig-storage/csi-attacher
      tag: v3.1.0
      pullPolicy: IfNotPresent
  provisioner:
    topology: "true"
    image:
      repository: k8s.gcr.io/sig-storage/csi-provisioner
      tag: v2.1.1
      pullPolicy: IfNotPresent
  snapshotter:
    image:
      repository: k8s.gcr.io/sig-storage/csi-snapshotter
      tag: v2.1.3
      pullPolicy: IfNotPresent
  resizer:
    image:
      repository: k8s.gcr.io/sig-storage/csi-resizer
      tag: v1.1.0
      pullPolicy: IfNotPresent
  livenessprobe:
    image:
      repository: k8s.gcr.io/sig-storage/livenessprobe
      tag: v2.1.0
      pullPolicy: IfNotPresent
    failureThreshold: 5
    initialDelaySeconds: 10
    timeoutSeconds: 10
    periodSeconds: 60
  nodeDriverRegistrar:
    image:
      repository: k8s.gcr.io/sig-storage/csi-node-driver-registrar
      tag: v1.3.0
      pullPolicy: IfNotPresent
  plugin:
    image:
      repository: docker.io/k8scloudprovider/cinder-csi-plugin
      pullPolicy: IfNotPresent
      tag:  # defaults to .Chart.AppVersion
    volumes:
      - name: cacert
        hostPath:
          path: /etc/cacert
    volumeMounts:
      - name: cacert
        mountPath: /etc/cacert
        readOnly: true
      - name: cloud-config
        mountPath: /etc/kubernetes
        readOnly: true
    nodePlugin:
      affinity: {}
      nodeSelector: {}
      tolerations: []
    controllerPlugin:
      affinity: {}
      nodeSelector: {}
      tolerations: []
  snapshotController:
    enabled: false
    image:
      repository: k8s.gcr.io/sig-storage/snapshot-controller
      tag: v2.1.3
    affinity: {}
    nodeSelector: {}
    tolerations: []

secret:
  enabled: false
  create: false
#  name: cinder-csi-cloud-config
#  data:
#    cloud-config: |-
#      [Global]
#      auth-url=http://openstack-control-plane
#      user-id=user-id
#      password=password
#      trust-id=trust-id
#      region=RegionOne
#      ca-file=/etc/cacert/ca-bundle.crt

storageClass:
  enabled: true
  delete:
    isDefault: false
    allowVolumeExpansion: true
  retain:
    isDefault: false
    allowVolumeExpansion: true
# any kind of custom StorageClasses
#   custom: |-
#     ---
#     apiVersion: storage.k8s.io/v1
#     kind: StorageClass
#     metadata:
#       name: sas
#     provisioner: cinder.csi.openstack.org
#     volumeBindingMode: WaitForFirstConsumer
#     allowVolumeExpansion: true
#     parameters:
#       type: SAS
#     ---
#     apiVersion: snapshot.storage.k8s.io/v1beta1
#     kind: VolumeSnapshotClass
#     metadata:
#       name: csi-cinder-snapclass
#     driver: cinder.csi.openstack.org
#     deletionPolicy: Delete
