apiVersion: v1
kind: Pod
metadata:
 name: barbican-kms
spec:
  containers:
    - name: barbican-kms
      image: registry.k8s.io/provider-os/barbican-kms-plugin:v1.34.0
      args:
        - "--socketpath=/kms/kms.sock"
        - "--cloud-config=/etc/kubernetes/cloud-config"
      volumeMounts:
        - name: cloud-config
          mountPath: /etc/kubernetes/
        - name: socket-dir
          mountPath: /kms/
  volumes:
  - name: config
    hostPath:
      path: /etc/kubernetes
  - name: socket-dir
    hostPath:
      path: /var/lib/kms/
      type: DirectoryOrCreate
